header {
	position: relative;
	width: 100%;
	overflow: hidden;
}

img {
	width: 100%;
}

div {
	position: absolute;
	top: 40%;
	text-align: center;
}

h1 {
	font-family: Ubisoft Sans Bold, sans-serif;
	font-size: 56px;
	color: white;
}

p {
	font-family: Ubisoft Sans, sans-serif;
	font-size: 26px;
	color: white;
}
