img {
	width: 456px;
	height: 542px;
}

figure {
	display: flex;
	margin: 0 18px;
	position: relative;
}

h3 {
	font-family: Ubisoft Sans Bold, sans-serif;
	font-size: 22px;
	text-align: center;
	position: absolute;
	color: white;
}
